@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;700&family=Inria+Serif&display=swap');
@import url('https://fonts.cdnfonts.com/css/trykker');

              

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.left-side {
  font-family: "Halant", serif;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.home-add-buttons {
  display: flex;
}

.home-add-btns {
  background-color: #F57940;
  border: none;
  border-radius: 50px;
  width: 28%;
  padding: 2%;
  margin: 5% 0;
  margin-right: 15px;
  font-family: 'Trykker', sans-serif;
                                                
}
.home-add-btns:hover {
  box-shadow: 1px 2px rgba(0,0,0,.3);
  cursor: pointer;
}
.home-description-text {
  font-family: 'Trykker', sans-serif;                           
  font-size: large;
}
.home-section-descriptions > h3 {
  margin: 3% 0 0 0;
  
}
.home-section-descriptions > p {
  font-family: 'Trykker', sans-serif;                                         
  margin: 0;
  font-size: smaller;
}
/* .home-image-container{
  background-image: url(landing-page-photo.png)
} */

/* .right-side{
  background-image: url(landing-page-photo.png);
  width: 500px;
  height: 600px;
  background-repeat: no-repeat;
  margin-right: 10px;
} */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal{
  overflow-y: auto;
  /* margin-top: 100px; */
}

.overlay {
  background: white;;
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  width: 800px;
  height: 800px;
  /* max-width: 600px; */
  /* min-width: 300px; */
  margin-top: 100px;
  overflow: auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}