@import url('https://fonts.cdnfonts.com/css/halant');
@import url('https://fonts.cdnfonts.com/css/trykker');

* {
    box-sizing: border-box;
}
.card-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;

}
.card {
    padding: 20px;
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
                                                
}

.card-name {
    font-family: 'Halant', sans-serif;                          
}

.delete-button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.add-item{
    font-family: 'Halant', sans-serif;  
    font-size: 30px;                                           
}

input[type=text], .input-field {
    width: 100%;
    padding-bottom: 5px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Halant', sans-serif;
    
  }

  fieldset {
   border:0;
}

.tag-container-options {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 20px;  
}

.radio-options {
    font-size: 20px;  
    margin-left: 5px;
}


.add-description{
    width: 100%;
    height: 150px;
    font-size: 20px; 
    font-family: 'Halant', sans-serif;
    border: 2px solid white;
}

.submit-button{
    background-color: #F57940;
    border: none;
    border-radius: 50px;
    width: 20%;
    padding: 2%;
    margin: 5% 0;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Trykker', sans-serif;
}

.card-text {
    font-size: 15px;
    line-height: 15px;
    font-family: 'Halant', sans-serif;
}

#hr-above-bar {
    width: 70%;
    border: 2px solid black;
}

#hr-above-bar-hike{
    width: 100%;
    border: 2px solid black;
}

#hr-below-bar-hike{
    height: 10px;
    width: 100%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#hr-below-bar{
    height: 10px;
    width: 70%;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.navbar-hike{
    width: 70%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    display: flex;
    flex-direction: row;
    height: 14vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Halant", serif;  
}


.navbar-camp {
    width: 70%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    display: flex;
    flex-direction: row;
    height: 14vh;
    justify-content: start;
    align-items: center;
    font-family: "Halant", serif;
}

.nav-bar-photo-and-text{
    padding-top: 3%;
    margin-right: 15px;
}
#hiking-man-text{
    margin-bottom: 10px;
}
.nav-bar-photo-and-text p{
    font-size: 1.1em;
}

 #hiker-background{
    background-color: #E7E9EC;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    height: 145%;
    width: 90px;
 }

#hiker{
    width:80px;
    height:50px;
}

#add-hike{
    width:70px;
    height:60px;
}

#parking{
    width:100px;
    height:60px;
}

#kids{
    width:60px;
    height:60px;
}

#pets{
    width:100px;
    height:60px;
}


.navbar-camp a:hover {
    background-color: #000;
  }

  @media screen and (max-width: 1200px) {
    .card-container{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px 30px;
    }
  }

@media screen and (max-width: 900px) {
    .card-container{
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px 30px;
    }
    .nav-bar-photo-and-text{
        padding-top: 5%;
    }
  }

  @media screen and (max-width: 500px) {
    .card-container{
      display: grid;
      grid-template-columns: auto;
      padding: 10px 30px;
    }

/* 
    follow this to make nav bars responsive
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */
  }