* {
    box-sizing: border-box;
}
.card-container {
    display: flex;
    flex-wrap: wrap;

}
.card {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}