@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;700&family=Inria+Serif&display=swap');

/* font-family: 'Halant', serif;
font-family: 'Inria Serif', serif; */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: "Halant", serif;
}

main {
  display: flex;
  margin: 10%;
  justify-content: space-around;
}
.left-side {
  font-family: "Halant", serif;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.home-add-buttons {
  display: flex;
  justify-content: space-around;
}
.home-add-btns {
  background-color: #F57940;
  border: none;
  border-radius: 50px;
  padding: 2%;
  font-family: "Halant-light", serif;
}
.home-description-text {
  font-family: "Halant-light", serif;
}
.home-section-descriptions > h3, p {
  margin: 0;
  
}
.home-section-descriptions > p {
  font-family: "Inria Serif", serif
}
